body {
    background-color: #000000;
}

a {
    text-decoration: none;
}

#backgroundVideo {
    top: 50%;
    height: 110%;
    transform: translate(-50%, -50%);
    opacity: 20%;
    left: 50%;
    z-index: 0;
    position: fixed;
}

@font-face {
    font-family: Clip;
    src: url("../fonts/Lazer84.ttf");
}

.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%,
            #a08500,
            transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    text-decoration-line: revert;
    text-align: center;
    left: 50%;
    top: 350px;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #FFD500;
    text-shadow: 0 0 0.6rem #665500, 0 0 1.5rem #8d7600,
        -0.2rem 0.1rem 1rem #FFD500, 0.2rem 0.1rem 1rem #FFD500,
        0 -0.5rem 2rem #ffe046, 0 0.5rem 3rem #fff4bb;
    animation: shine 2s forwards, flicker 3s infinite;
}

.save-ukraine {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    text-align: center;
    left: 50%;
    top: 100px;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #FFD500;
    animation: shine 2s forwards, flicker 3s infinite;
}


.links {
    align-items: center;
    position: relative;
    word-spacing: 65px;
    top: 575px;
    font-size: 2em;
    line-height: 80px;
}

.style_links {
    background-image: radial-gradient(ellipse 50% 50% at 50% 50%,
            #100069,
            transparent);
    letter-spacing: 5px;
    text-align: center;
    left: 50%;
    top: 70%;
    font-family: "Clip";
    text-transform: uppercase;
    color: #070007;
    animation: shine 5s forwards;
}

@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #FFD500;
        text-shadow: 0 0 0.6rem #665500, 0 0 1.5rem #b69801,
            -0.2rem 0.1rem 1rem #FFD500, 0.2rem 0.1rem 1rem #FFD500,
            0 -0.5rem 2rem #ffe046, 0 0.5rem 3rem #fff4bb;
    }

    28%,
    33% {
        color: #FFD500;
        text-shadow: none;
    }

    82%,
    97% {
        color: #FFD500;
        text-shadow: none;
    }
}

.flicker_ {
    animation: shine 5s forwards;
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #005BBB;
        text-shadow: none;
    }

    100% {
        color: #005BBB;
        text-shadow: 0 0 0.6rem #001124, 0 0 1.5rem #00152c,
            -0.2rem 0.1rem 1rem #005BBB, 0.2rem 0.1rem 1rem #005BBB,
            0 -0.5rem 2rem #69b2ff, 0 0.5rem 3rem #dfefff;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}